body{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.dark{
    background-color: black;
    color: white;
}
.light{
    background-color: white;
    color: black;
}
div.headBanner{
    display: block;
    margin: 0 auto;
    text-align: center;
    line-height: 0.8em;
    margin-top: 2em;
}
h1#head{
    font-size: 3em;
    color: bisque;
}
p.pText{
    font-size: 0.8em;
    color: rgb(164, 220, 248);
}
.btn{
    padding: 0.4em;
    border-radius: 0.4em;
    border: none;
    background-color: blueviolet;
    margin-left: 0.2em;
    color: azure;
}
.box{
    padding: 0.5rem;
    background-color: aquamarine;
    margin: 0.5em;
    border-radius: 0.5em;
    display: inline;
    font-size: 0.8em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}