body{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50vh;
    background-color: rgb(24, 22, 20);
    color: aqua;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.2em;
}

#insert{
    background-color: rgb(2, 14, 21);
    padding: 1em;
    border-radius: 0.8em;
    border: 1px solid rgb(136, 255, 0);
}

.keyInfo{
    display: inline-flex;
    gap: 6.6em;
}

.key, .keyCode, .code{
    background-color: blue;
    padding: .4em;
    border-radius: .8em;
}